#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.card {
  padding: 2rem;
  border-radius: 6px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 300px;
  img {
    max-width: 200px;
  }
  span {
    font-weight: 600;
    color: #333;
  }
}

.cardContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 2rem;
  min-height: 15vw;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
  background-color: grey;
  height: 5rem;
  width: 100vw;
  img {
    border-radius: 50%;
    height: 4.5rem;
  }
  ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    padding: 0;
  }
  a {
    text-decoration: none;
    color: #333;
    font-weight: 600;
    font-size: 1rem;
    &:hover {
      color: whitesmoke;
    }
  }
}

.title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

footer {
  margin-top: 2rem;
  padding: 1rem;
  background-color: grey;
  color: white;
  height: 5rem;
}

.notfound {
  text-align: center;
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.detalleCompra {
  margin-top: 2rem;
  text-align: center;
  h2 {
    margin-bottom: 1rem;
  }
  ul {
    list-style: none;
    padding: 0;
    text-align: center;
  }
  p {
    font-size: 1.2rem;
  }
}

.detalleCarrito {
  margin-top: 2rem;
  text-align: center;
  min-height: 30vw;
  h2 {
    margin-bottom: 1rem;
  }
  ul {
    list-style: none;
    padding: 0;
    text-align: center;
  }
  p {
    font-size: 1.2rem;
  }
}

.mxcounter {
  margin: 0 2rem;
  font-size: 1.2rem;
}

.bgDanger {
  background-color: red;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
  &:hover {
    background-color: darkred;
  }
}

.bgSuccess {
  background-color: green;
  color: white;
  font-weight: 600;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  a {
    text-decoration: none;
    color: white;
    font-weight: 600;
  }
  &:hover {
    background-color: darkgreen;
  }
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
  border: 1px #ccc;
  padding: 2rem;
  border-radius: 6px;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
  
  input {
    padding: 0.5rem;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 300px;
    font-size: 1rem;
  }
  label {
    font-size: 1.2rem;
    font-weight: 600;
  }
}