#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.card {
  padding: 2rem;
  border-radius: 6px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 300px;
  img {
    max-width: 200px;
  }
  span {
    font-weight: 600;
    color: #333;
  }
}

.cardContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 2rem;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
  background-color: grey;
  height: 5rem;
  width: 100vw;
  img {
    border-radius: 50%;
    height: 4.5rem;
  }
  ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    padding: 0;
  }
  a {
    text-decoration: none;
    color: #333;
    font-weight: 600;
    font-size: 1.6rem;
    &:hover {
      color: whitesmoke;
    }
  }
}

.title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

footer {
  margin-top: 2rem;
  padding: 1rem;
  background-color: grey;
  color: white;
  height: 5rem;
}

.notfound {
  text-align: center;
  margin-top: 10rem;
  margin-bottom: 10rem;
}